:root[data-theme="light"] {
    --text: #060703;
    --background: #fcfdf7;
    --primary: #afc549;
    --secondary: #91dc8f;
    --secondary20: rgba(145, 220, 143, 0.1);
    --accent: #64cecb;
  }

:root[data-theme="dark"] {
    --text: #fbfcf8;
    --background: #070802;
    --primary: #9fb63a;
    --secondary: #267023;
    --secondary20: rgba(38, 112, 35, 0.2);
    --accent: #319b98;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --text-color: #c0c0c0;
        --background: #404040;
    }
} */

* { margin:0; padding:0; box-sizing:border-box; }

.wrap {
    height: 100vh;
    width: 100%;
    /* display: flex;
    flex-direction:column; */
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.gradient-background {
    /* background: no-repeat center center fixed;  */
    background-image: linear-gradient(to top right, #a0e2d2, #d8e2e0);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left;
    overflow: hidden;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    height: 100%;
    /* flex: 1; */
}

.photo-background {
    background-image: url(resources/background-photo.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: 700px;
    height: 100%;
    overflow: hidden;
}

.header {
  margin: 30px
}

.content {
    background-color: var(--secondary20);
    width: fit-content;
    height: fit-content;
    box-sizing: content-box;
    /* position: absolute;
    top: 0; left: 0; */
    padding: 30px;
    margin: 30px;
    z-index: 1;
    border-radius: 20px;
    min-width: 350px
}

.date {
    font-weight: 300;
    text-align: right;
    vertical-align: text-top;
    opacity: 0.6;
}

td {
  padding-right: 20px
}

td:last-child {
  padding-right: 2px
}

body {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 16px;
    color: var(--text);
    background: var(--background);
}

h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 48px;
    text-decoration: overline;
    text-decoration-color: var(--primary);
    text-decoration-thickness: 10px;
}

h2 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 28px;
    text-decoration: overline;
    text-decoration-color: var(--primary);
    text-decoration-thickness: 5px;
    margin-bottom: 10px;
}

h3 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: var(--primary)
}

h4 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
}

a:link, a:visited {
    color: var(--text-color);
    text-decoration-color: var(--accent);
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
}

a:hover {
    color: var(--accent);
    text-decoration-thickness: 5px;
}

.job-description {
    font-weight: 300;
}

.material-icons-outlined.md60 {
    font-size: 16px;
    padding: 0px 10px 0px 0px;
}