:root {
    --accent-color: #e42084;
    --text-color: #404040;
}

* { margin:0; padding:0; box-sizing:border-box; }

.wrap {
    height: 100vh;
    width: 100%;
    /* display: flex;
    flex-direction:column; */
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.gradient-background {
    /* background: no-repeat center center fixed;  */
    background-image: linear-gradient(to top right, #a0e2d2, #d8e2e0);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left;
    overflow: hidden;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    height: 100%;
    /* flex: 1; */
}

.photo-background {
    background-image: url(resources/background-photo.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: 700px;
    height: 100%;
    overflow: hidden;
}

.content {
    background-color: #d8e2e02a;
    font-family: 'Radio Canada';
    font-weight: 400;
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    box-sizing: content-box;
    color: var(--text-color);
    position: absolute;
    top: 0; left: 0;
    padding: 30px;
    margin: 30px;
    z-index: 1;
}

h1 {
    font-family: 'Radio Canada';
    font-weight: 700;
    font-size: 40px;
    text-shadow: 1px 1px 5px #3030301f;
    text-decoration: overline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 10px;
}

p {
    line-height: 25px;
}

a:link, a:visited {
    color: var(--text-color);
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

a:hover {
    color: var(--accent-color);
    font-weight: initial + 100;
    text-decoration-thickness: 3px;
}

.bio {
    margin: 30px;
}

.material-icons-outlined.md60 {
    font-size: 16px;
    padding: 0px 10px 0px 0px;
}